<center><h1>Welcome to Cindy and Miranda's awesome Housing Application Site!
<br>(Name still undecided - suggestions appreciated!)</br></h1>

<h2><a href="http://localhost:3000/explore/index">Explore Available Housing</a>
<p><a href="http://localhost:3000/welcome/status">Status</a></p>
<p><a href="http://localhost:3000/welcome/timeline">Timeline</a></p>
<p><a href="http://localhost:3000/welcome/bookmarks">Bookmarks</a></p></h2>
<p>Find me in app/views/welcome/index.html.erb</p>
