<center>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-9g6c{font-weight:bold;font-size:xx-large;background-color:#cb0000;color:#000000;text-align:center}
.tg .tg-ejlg{font-weight:bold;font-size:26px;text-align:center}
</style>
<table class="tg">
  <tr>
    <th class="tg-9g6c"><font size="60">Welcome to WesOCC!</font></th>
  </tr>
   <td class="tg-ejlg"><font size="5">Wesleyan's new Housing Browsing site</font></td>
  </tr>
<tr>
    <td class="tg-ejlg"><font size="3">(ruby version)</font></td>
    <tr>
    <td class="tg-031e"></td>
  </tr>
    <tr>
    <td class="tg-031e"></td>
  </tr>
    <tr>
    <td class="tg-031e"></td>
  </tr>
 <tr>
    <td class="tg-ejlg"><a href="http://localhost:3000/explore/index">Explore Available Housing</a></td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-ejlg"><a href="http://localhost:3000/welcome/status">Status</a></td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-ejlg"><a href="http://localhost:3000/welcome/timeline">Timeline</a></td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-ejlg"><a href="http://localhost:3000/welcome/bookmarks">Bookmarks</a></td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
  </tr>
    <tr>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-ejlg">Created by Cindy '17, Miranda '17 and Alex '14 </td>
</tr>

  	<td class="tg-ejlg"><img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/394621_10151151814454283_603915261_n.jpg" alt="" width="250" height="210"><img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn2/t1.0-9/1458633_10151849646166242_993869321_n.jpg" alt="" width="250" height="210"><img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-ash2/t31.0-8/465378_3983144217375_856628628_o.jpg" alt="" width="250" height="210"></td>
  </tr>
  
  </tr>
  <tr>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-s6z2">Find me in app/views/welcome/index.html.erb</td>
  </tr>
</table>








