<center><h1>Room Selection Status</h1>

<h3><p>Wes ID</p>
<p>Name</p>
<p>Points</p>
<p>Housing Type</p></h3>

<h1>My Group</h1>
<h4><p>Accepted 1</p>
<p>Accepted 2</p>
<p>Rank</p>
<p>Groups choosing before me</p>
<p>Groups choosing before me who have already selected</p></h4>

<h1>My Selection Nights Choice</h1>
<h4><p>Building</p>
<p>Unit</p>
<p>Room</p></h4>

<p>Find me in app/views/welcome/status.html.erb</p>
