<center>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-rx0k{font-weight:bold;font-size:xx-large;background-color:#000000;color:#cb0000;text-align:center}
.tg .tg-wv6a{font-weight:bold;font-size:x-large;background-color:#000000;color:#cb0000;text-align:center}
.tg .tg-qnmb{font-weight:bold;font-size:16px;text-align:center}
</style>
<table class="tg">
  <tr>
    <th class="tg-rx0k" colspan="2">Housing Selection Status</th>
  </tr>
  <tr>
    <td class="tg-qnmb">WesID</td>
    <td class="tg-031e">000000</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Name</td>
    <td class="tg-031e">Digital Wes</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Points</td>
    <td class="tg-031e">Infinity</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Housing Type</td>
    <td class="tg-031e">Livable</td>
  </tr>
  <tr>
    <td class="tg-qnmb"></td>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-wv6a" colspan="2">My Group</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Accepted 1</td>
    <td class="tg-031e">N/A</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Accepted 2</td>
    <td class="tg-031e">N/A</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Rank</td>
    <td class="tg-031e">Captain</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Groups choosing before me (GCBM)</td>
    <td class="tg-031e">55</td>
  </tr>
  <tr>
    <td class="tg-qnmb">GCBM who have already selected</td>
    <td class="tg-031e">32</td>
  </tr>
  <tr>
    <td class="tg-qnmb"></td>
    <td class="tg-031e"></td>
  </tr>
  <tr>
    <td class="tg-wv6a" colspan="2">My Selection Nights Choice</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Building</td>
    <td class="tg-031e">N/A</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Unit</td>
    <td class="tg-031e">N/A</td>
  </tr>
  <tr>
    <td class="tg-qnmb">Room</td>
    <td class="tg-031e">N/A</td>
  </tr>
</table>

<p>Find me in app/views/welcome/status.html.erb</p>

<p><a href="http://localhost:3000/welcome/index">Back to the Home Page</a></p>
