<center><h1>Timeline
<br></h1>

<h3>List of important dates</p>

<img src="https://scontent-b-lga.xx.fbcdn.net/hphotos-prn2/v/t34.0-12/10276476_10201705389256852_1134673902_n.jpg?oh=df96890c5cf585c16a36fcb1c7548cc7&oe=535C2E01" alt="" width="650" height="1800">

</h3>
<p>Find me in app/views/welcome/timeline.html.erb</p>

<p><a href="http://localhost:3000/welcome/index">Back to the Home Page</a></p>
