<center>
<img src="https://scontent-b-lga.xx.fbcdn.net/hphotos-prn2/v/t34.0-12/10173454_10152071438111242_1295854711_n.jpg?oh=fe0628ea8017d90bd44cbbd79a69b8b7&oe=534BB9D4" alt="" width="1100" height="700">

<p>Find me in app/views/explore/FourteenCWarren.html.erb</p>

<p><a href="http://localhost:3000/welcome/index">Back to the Home Page</a></p>