<center><h1>List of housing available on campus
<br>(Sample of 3)</h1>

<h3>Butterfield B</p>
<p><a href="http://localhost:3000/explore/HighRise">High Rise</a></p></h3>
<p><a href="http://localhost:3000/explore/FourteenCWarren">14 C Warren Street</a></p></h3>
<p>Find me in app/views/explore/index.html.erb</p>
